*{
    padding: 0%;
    margin: 0%;
    background-color: rgb(220, 163, 163);
}
h1{
    margin-top: 1rem;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    padding: 1rem;
    margin-top: 2rem;
    width: 20rem;
    height: 53vh;
    border: 2px solid black;
    
}
input{
    font-size: 2rem; 
    width: 90%;
    border: 3px solid rgb(67, 151, 67);
}
.row{
    font-size: 20px;
    padding: 0.2rem;
    display: flex;
    gap: 1.3rem;
    justify-content: center;
}

.button1{
    background-color: rgb(188, 143, 125);
    padding: .8rem 3.4rem;

}
.button1:hover{
    background-color: rgb(164, 162, 139);

}
.button2{
    background-color: rgb(210, 164, 103);
    padding: 0.8rem 4.2rem;
    font-size: 700;

}
.row > .buttons{
    font-weight: 400;
    background-color: burlywood;
    padding: 0.8rem 1.5rem;
    border-radius: .9rem;
}
.row > .buttons:hover{
    background-color: rgb(150, 149, 140);

}

.button2:hover{
    background-color: rgb(210, 145, 72);

}